h2 {
    color: #00b1eb;
}
h3 {
    color: #3f485d;
}
p {
    color: #5d6884;
}
#working {
    .what-is {
        background: #242424;
        h3, p {
            color: #fff;
        }
        .working-desc {
            h2, h3 {
                text-align: center;
            }
        }
    }
    .card {
        max-width: unset;
        border: none;
        span {
            font-family: 'Open Sans', sans-serif;
            font-size: 2.25em;
            font-weight: 700;
            border: 1px solid #3f485d;
            border-radius: 100%;
            color: #3f485d;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: end;
            justify-content: center;
        }
        p {
            font-family: 'Work Sans', sans-serif;
            font-size: 1.375em;
            color: #5d6884;
        }
        .no-gutters {
            display: flex;
            align-items: center;
            background: #fafafa;
            padding: 1.5rem 2rem;
            border-radius: 15px;
        }
        &.left {
            margin-right: auto;
        }
        &.right {
            margin-left: auto;
        }
    }
}
