#about-adc {
    background-color: #0087ff;
    padding-bottom: 100px;
    h2, p {
        color: #FFF;
    }
    h2 {
        margin-bottom: initial;
    }
    p {
        font-size: 1.75em;
        line-height: 2.125rem;
    }
    .img-wrapper {
        margin-top: -22em;
    }
}