.header-container {
    background: #242424;
    header {
        position: relative;
        nav.navbar-light{
            padding: 2.8rem 0;
            @media (max-width: 991px) {
                padding: 2rem 0 0 0;
            }
            .navbar-brand {            
                padding: 0;    
                @media (max-width: 991px) {
                    img {
                        height: 46px;
                    }
                }
            }
            .navbar-nav {
                .nav-link {
                    font-family: 'Work Sans', sans-serif;
                    text-transform: uppercase;
                    font-weight: 800;
                    color: #FFF;
                    padding: 5px 0;
                    margin: 0 1.25rem;
                    border-bottom: 2px solid transparent;
                    transition: border .1s ease-in-out;
                    &:hover,
                    &:active {
                        border-bottom: 2px solid #FFF;
                    }
                    /*&:last-of-type {
                        margin-right: 0;
                    }*/
                    @media (max-width: 991px) {
                        font-size: .8125rem;
                        margin-bottom: 1.2rem;
                        margin-top: 0;
                        padding: 0;
                        &:first-of-type {
                            margin-top: .25em!important;
                        }
                    }
                }
                @media (max-width: 991px) {
                    text-align: center;
                    position: relative;
                    z-index: 1;
                }
            }
            #basic-navbar-nav {
                transition: none;
                           
                @media (max-width: 991px) {
                    transition: none;
                    transform: none;
                    text-align: center;
                    &.collapsing, 
                    &.show {
                        height: 100em;
                        transition: none;
                    }
                }
            }
            .navbar-toggler {
                border: 0;
                .navbar-toggler-icon {
                    width: 25px;
                    height: 25px;
                }
                &.collapsed{
                    .navbar-toggler-icon {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33.88 25.04'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Etoggler%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Capa_1' data-name='Capa 1'%3E%3Crect class='cls-1' width='33.88' height='3.16'/%3E%3Crect class='cls-1' y='10.94' width='33.88' height='3.16'/%3E%3Crect class='cls-1' y='21.88' width='33.88' height='3.16'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")!important;                  
                    }
                }
                @media (max-width: 991px) {
                    z-index:3 ;
                }
            }
            .navbar-toggler{
                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26.19 26.19'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Etoggler-close%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Capa_1' data-name='Capa 1'%3E%3Crect class='cls-1' x='-3.84' y='11.51' width='33.88' height='3.16' transform='translate(13.1 -5.42) rotate(45)'/%3E%3Crect class='cls-1' x='-3.84' y='11.51' width='33.88' height='3.16' transform='translate(-5.42 13.1) rotate(-45)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")!important;
                }
            }
            .navbar-collapse {
                
                .header-cam-cont {
                    .header-cam {
                        margin-top: 5.25rem;
                        position: relative;
                        z-index: 2;
                    }
                    .light {
                        //display: none;
                        background: linear-gradient(180deg, #00b1eb 8.76%, #242424 100%);
                        position: absolute;
                        right: 0;
                        left: -15px;
                        top: 0;
                        margin: 0 auto;
                        height: 50vh; 
                        width: 100vw;
                            &::before {
                               /* content: '';
                                width: 0;   
                                height: 0;  
                                border-top: 25vh solid #242424;    
                                border-left: 50vw solid transparent;    
                                right: 0;   
                                position: absolute; 
                                bottom: -1vh;   
                                width: 50%; 
                                height: 55vh;   
                                z-index: 1;    
                                top: 65px;

                                content: '';
                                border-bottom: 50vh solid #242424 ;
                                border-right: 50vw solid transparent;
                                left: 0;
                                position: absolute;
                                width: 50%;
                                z-index: 1;
                                top: 0;
                                height: 50vh;*/
                                
                                content: '';
                                border-bottom: 90vh solid  #242424;
                                border-right: 100vw solid transparent;
                                left: 0;
                                position: absolute;
                                width: 61%;
                                z-index: 1;
                                top: 0;
                                height: 31vh;
                                transform: rotate(-27deg);
                            }
                            &::after {
                                content: '';
                                    border-bottom: 90vh solid  #242424;
                                border-left: 100vw solid transparent;
                                right: 0;
                                position: absolute;
                                width: 61%;
                                z-index: 1;
                                top: 0;
                                height: 31vh;
                                transform: rotate(27deg);
                                /*
                                content: '';
                                border-bottom: 50vh solid #242424 ;
                                border-left: 50vw solid transparent;
                                right: 0;
                                position: absolute;
                                width: 50%;
                                z-index: 1;
                                top: 0;
                                height: 50vh;*/
                            }
                        }
                    }
                .header-social {
                    margin-top: 3.3rem;
                    h3 {
                        color: #6a6a6a;
                        text-transform: uppercase;
                        font-size: .85rem;
                    }
                    .social-cont {
                        margin-top: 1.95rem;
                        max-width: 290px;
                    }
                }
            }
        }
        .collapsing {
            -webkit-transition: none;
            transition: none;
            display: none;
        }
    }
}