.intro {
    background-color: #242424;
    background-image: url('../../assets/img/intro-bg.svg');
    background-repeat: no-repeat;
    background-position: 100% 80px;
    background-size: 100%;
    height: 135vh;
    @media (max-width: 991px) {
        padding-top: 0;
        background: 
        url('../../assets/img/intro-bg-mob-left.svg') no-repeat left,
        url('../../assets/img/intro-bg-mob-right.svg') no-repeat right,
        linear-gradient(180deg, rgba(0,177,235,1) 8.76%, rgba(36,36,36,1) 100%);
        background-size: 118px, 110px;
        background-position: 0% 90%, 100% 65%;  
        height: 100vh;
    }

    .intro-container {
        padding-top: 12%;
        h1 {
            color: #FFF;
            margin-bottom: 0;
            font-size: 5.625rem;
        }
        p {
            font-weight: 600;
            font-size: 2.375rem;
            line-height: 1em;
            color: #242424;
        }
        @media (max-width: 991px) {            
            text-align: center;
            background: #242424;
            h1 {
                font-size: 2.375rem;
                color: #00b1eb;
            }
            p {
                font-size: 1rem;
                color: #FFF;
            }
            .intro-cam-cont {
                height: 67px;
                &::before {
                    content: '';
                    width: 0;   
                    height: 0;  
                    border-top: 25vh solid #242424;    
                    border-left: 50vw solid transparent;    
                    right: 0;   
                    position: absolute; 
                    bottom: -1vh;   
                    width: 50%; 
                    height: 55vh;   
                    z-index: 1;    
                    top: 65px;
                }
                &::after {
                    content: '';
                    width: 0;   
                    height: 0;  
                    border-top: 25vh solid #242424;    
                    border-right: 50vw solid transparent;    
                    left: 0;   
                    position: absolute; 
                    bottom: -1vh;   
                    width: 50%; 
                    height: 55vh;   
                    z-index: 1;    
                    top: 65px;
                }
                .intro-cam {
                    transform: rotate(180deg);
                    position: absolute;
                    left: 0;
                    right: 0;  
                    bottom: -15px;          
                    margin: auto; 
                    z-index: 2;
                }
            }
        }
    }    
}