#risks {
    background-image: url('../../assets/img/risks-bg.svg');
    background-color: #fac716;
    background-position: center -2px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 0;
    @media (max-width: 991px) {
        background-size: 2000px;
    }

    h2 {
        text-align: center;
        color: #3f485d;
        padding-top: 11rem;
        padding-bottom: 1em;
        margin-bottom: 0;
        @media (max-width: 991px) {
            padding-top: 8.875rem;
            padding-bottom: 4.5rem;
        }
    } 
    .card {
        background: #242b36;
        border: 0;
        margin-bottom: 1em;
        color: #FFF;
        .card-img {
            width: auto;
            margin-bottom: .75em;
            position: absolute;
            top: -30.5px;
            margin-left: auto;
            left: 0;
            margin-right: auto;
            right: 0;
        }
        .card-text {
            font-size: 1.25em;
            color: #FFF;
            line-height: 26px;
            @media (max-width: 991px) {
                font-size: 1em;
            }
        }
        
        .card-body {
            position: relative;
            justify-content: center;
            padding-top: 38px;
            padding-bottom: 33px;
            @media (max-width: 991px) {
             display: flex;
             align-items: center;
             padding-top: 2.35rem;
             .card-text {
                 margin-left: 1em;
             }
            }
        }
    }
}