#footer {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    @media all and (max-width: 991px){
        padding-top: 2.18rem;
        padding-bottom: 2.18rem;
    }
    .main-footer {
        ul {
            text-align: right;
            margin-bottom: 0;
            li {
                color: #171c2b;
                font-size: .875em;
                a {
                    color: #171c2b;
                }
            }
        }
        @media all and (max-width: 991px){
            .footer-logo-cont {
                text-align: center;
            }
            .info-cont {
                margin-top: 2em;
                ul {
                    text-align: center;
                    li {
                        font-size: .875rem;
                    }
                }
            }
        }
    }
}