body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.25em;
  color: #5d6884;
  @media (max-width: 991px) {
    font-size: 1rem;
  }
}

section {
  padding-top: 3.75em;
  padding-bottom: 3.75em;
}

h1, h2 {
  font-weight: 800;
}

h3, h4, h5, h6 {
  font-weight: 700;
  color: #5d6884;
}

h1 {
  font-size: 6em;
  @media (max-width: 991px) {
    font-size: 3em;
  }
}

h2 {
  font-size: 4.25em;
  margin-bottom: 2em;
  @media (max-width: 991px) {
    font-size: 2.375rem;
    text-align: center;
  }
}
h3 {
  font-size: 2.125em;
  @media (max-width: 991px) {
    font-size: 1.375rem;
    text-align: center;
  }
}


@media (max-width: 991px) {
  .desk-only {
    display: none!important;
  }
}

@media (min-width: 992px) {
  .mob-only {
    display: none!important;
  }
}

