body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.25em;
  color: #5d6884;
}

h1, h2 {
  font-weight: 800;
}

h3, h4, h5, h6 {
  font-weight: 700;
  color: #5d6884;
}

h1 {
  font-size: 6em;
  @media (max-width: 768px) {
    font-size: 3em;
  }
}

h2 {
  font-size: 4.25em;
  margin-bottom: 2em;
  @media (max-width: 768px) {
    font-size: 2em;
  }
}
h3 {
  font-size: 2.125em;
}