#map {
  background-color: #0078D2;
  width: 100%;
  padding: 1.75rem;

  .col-lg-11 {
    margin-bottom: 2rem;
  }

  h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 1.5rem;
  }

  p {
    color: #ffffff;
    text-align: left;
    line-height: 26px;
    margin-bottom: 1rem;
  }

  .mapBox {
    width: 355px;
  }

  .mapBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 5rem;
  }

  .subtitle {
    margin-top: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: centerx;
    justify-content: center;
    gap: 1rem;

    p {
      font-size: 0.813rem;
      margin-bottom: 0;
    }
  }

  @media (max-width: 991px) {
    padding: 0;
  }
}